# Folders
wp-admin
wp-includes
wp-content/uploads
wp-content/themes/*
wp-content/plugins/*
wp-content/themes/the-realm-malta/node_modules

# Individual Files
.htaccess
index.php
license.txt
readme.html
wp-*.php
xmlrpc.php
wp-content/debug.log

#Include Files
!wp-content/themes/the-realm-malta
!wp-content/themes/the-realm-malta-gutenberg
!wp-content/plugins/realm*